@font-face {
    font-family: 'IM Fell English SC';
    src: url('/fonts/im-fell-english-sc/IMFellEnglishSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

span.dropcap {
    font-family: 'IM Fell English SC', serif;
    font-size: 5.5rem;
    float: left;
    line-height: 4rem;
    margin: 0 0.1em 0 0;
    color: #111;
}

.image-container {
    width: 55%;
}

.image-container img {
    width: 300px;
    height: auto;
}

@media screen and (max-width: 760px) {
    .image-container {
        width: 100%;
    }
}

