{{ define "main" }}
<div itemscope itemtype="https://schema.org/WebSite">
  <link itemprop="url" href="{{ .Site.BaseURL }}" />
  <meta itemprop="name" content="{{ .Site.Title }}" />
</div>

<div id="layout" class="pure-g">
  <article class="pure-u-1" data-pagefind-ignore>
    {{ partial "brand.html" . }}

    {{ .Content }}

    <h2>Latest Posts</h2>
    {{ range first 5 (where .Site.RegularPages "Type" "post") }}
      <p>
        {{ .PublishDate | time.Format ":date_medium" }} &middot;
        {{ if .IsNode }}
          <a href="{{ .Permalink }}">{{ .Title}}</a>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      </p>
    {{ end  }}

    {{ partial "footer.html" . }}
  </article>
</div>
{{ end }}
