<section>
  <h1 class="content-title" data-pagefind-meta="title">
    {{ if .IsNode }}
      <a href="{{ .Permalink }}">{{ replace .Title "-" " " }}</a>
    {{ else }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </h1>

  {{ if .IsPage }}
    {{ if .Params.subtitle }}
      <p class=subtitle>{{ .Params.subtitle }}</p>
    {{ end }}

    {{ if or (eq .Type "post") (.Params.meta) }}
      <span class="content-meta">
        {{ if not .Params.hidedate }}
          <i class="fa fa-calendar"></i>
          &nbsp;{{ .Date.Format "Jan 2, 2006" }}
        {{ end }}

        {{ if not .Params.hidereadtime }}
          &nbsp;<i class="fa fa-clock"></i>
          &nbsp;{{ .ReadingTime }} min. read
        {{ end }}

        {{ if .Params.tags }}
          <br/><br/>
          <i class='fa fa-tags la-lg'></i>&nbsp;&middot;
          {{ range $tag := .Params.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" $tag) }}
              <a href={{ .RelPermalink }} title="{{ $tag }}"> {{$tag}}</a> &middot;
            {{ end }}
          {{ end }}
        {{ end }}

        {{ if .Params.topics }}
          <br/><br/>
          <i class='fa fa-tags la-lg'></i>&nbsp;&middot;
          {{ range $tag := .Params.topics }}
            {{ with $.Site.GetPage (printf "/topics/%s" $tag) }}
              <a href={{ .RelPermalink }} title="{{ $tag }}"> {{$tag}}</a> &middot;
            {{ end }}
          {{ end }}
        {{ end }}

      </span>
    {{ end }}

  {{ else if (eq .Title "Blog") }}
    <span class="content-meta" style="line-height: 2em;">
      <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
      <script src="/pagefind/pagefind-ui.js"></script>
      <div id="search" style="margin-bottom: 20px;"></div>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
      </script>

      {{ range first 10 .Site.Taxonomies.tags.ByCount }}{{ $cnt := .Count }}
        {{ with $.Site.GetPage (printf "/tags/%s" .Name) }}
          <a href={{ .RelPermalink }} title="{{ .Name }}">
            <i class='fas fa-tag'></i> {{ .Name }} ({{ $cnt }})
          </a>&nbsp;&nbsp;
        {{ end }}
      {{ end }}
    </span>
  {{ else if (eq .Title "Today I Learned") }}
    <span class="content-meta" style="line-height: 2em;">
      <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
      <script src="/pagefind/pagefind-ui.js"></script>
      <div id="search" style="margin-bottom: 20px;"></div>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
      </script>

      {{ range first 25 .Site.Taxonomies.topics.ByCount }}{{ $cnt := .Count }}
        {{ with $.Site.GetPage (printf "/topics/%s" .Name) }}
          <a href={{ .RelPermalink }} title="{{ .Name }}">
            <i class='fas fa-tag'></i> {{ .Name }} ({{ $cnt }})
          </a> &nbsp;&nbsp;
        {{ end }}
      {{ end }}
    </span>

    <div align="center" class="image-container" style="margin-top: 25px;">
      <img src="/images/misc/wisdom-of-the-ancients.png" alt="xkcd: Wisdom of the Ancients" style="width: 400px;" />
      <br/><br/>
      <i>
       <a href="https://xkcd.com/979/">xkcd: Wisdom of the Ancients</a>
      </i>
    </div>

    <p>
      This section contains quick posts about things I find interesting or worth documenting.
      These could be new discoveries or just things I wanted to jot down for future reference.
    </p>

    {{ $pages := slice }}
    {{ range .Site.Taxonomies.topics }}
        {{ range .Pages }}
            {{ $pages = $pages | append .RelPermalink }}
        {{ end }}
    {{ end }}
    {{ $uniquePages := uniq $pages }}
    <i><h3>{{ len $uniquePages }} TILs so far.</h3></i>
{{ end }}
</section>
