<section>
  <h1 class="content-title">
    {{ if .IsNode }}
      <a href="{{ .Permalink }}">{{ replace .Title "-" " " }}</a>
    {{ else }}
      <a href="{{ .RelPermalink }}">
        {{ .Title }}{{ if .Draft }} :: Draft {{ end }}
      </a>
    {{ end }}
  </h1>

  {{ if .IsPage }}
    {{ if .Params.subtitle }}
      <p class=subtitle>{{ .Params.subtitle }}</p>
    {{ end }}

    {{ if or (eq .Type "post") (.Params.meta) }}
      <span class="content-meta">
        <i class="fa fa-calendar"></i>
        &nbsp;{{ .Date.Format "Jan 2, 2006" }}

        &nbsp;<i class="fa fa-clock"></i>
        &nbsp;{{ .ReadingTime }} min. read

        {{ if .Params.tags }}
          <br><br>
          <i class='fa fa-tags la-lg'></i>&nbsp;&middot;
          {{ range $tag := .Params.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" $tag) }}
              <a href={{ .RelPermalink }} title="{{ $tag }}"> {{$tag}}</a> &middot;
            {{ end }}
          {{ end }}
        {{ end }}

      </span>
    {{ end }}

  {{ else if (eq .Title "Blog") }}
    <span class="content-meta">
      &middot;&nbsp;
      {{ range first 5 .Site.Taxonomies.tags.ByCount }}{{ $cnt := .Count }}
        {{ with $.Site.GetPage (printf "/tags/%s" .Name) }}
          <a href={{ .RelPermalink }} title="{{ .Name }}">
            <i class='fas fa-tag'></i> {{ .Name }} ({{ $cnt }})
          </a> &nbsp;&middot;&nbsp;
        {{ end }}
      {{ end }}
    </span>
  {{ end }}
</section>
